.firstHalf
{

margin:40px;
margin-left: 150px;
}
.secondHalf

{

margin:60px;
float:right;
margin-top: -490px;
margin-right: 150px;
}


input

{



padding:20px;
text-align: center;
}
.red
{
color:red;
}
